.search-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
}

.insta-logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.insta-logo i {
    margin-right: 10px;
}

.insta-logo img{
    width: 120px;
    margin-left: 10px;
}

.search-icons i{
    margin-left: 10px;
    color: lightgray;
   
}

.search-bar {
    text-align: center;
    padding: 5px 10px;
    background: #F8F8F8;
    border-radius: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}